/* Style for the banner */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgba(0, 0, 117); /* dark blue with 50% opacity */
  }
  
  .banner button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8A8AFF; /* light purple */
    color: #fff; /* white text */
    font-size: 16px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium';
    transition: background-color 0.3s ease-in-out; /* transition for hover effect */
    outline: none;
    text-decoration: none;
  }
  
  .banner button:hover {
    background-color: #7D52A1; /* dark purple on hover */
  }
  
  /* Style for the main box */
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Subtract banner height from viewport height */
    background-image: url("/Images/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  /* Style for the main box content */
  .main-content {
    max-width: 1000px;
    max-height: 400px;
    padding: 15px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: #f2f2f2;
  }
  