
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    background-image: url(/Images/sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }


  
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    color: #0000A3;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    color: black;
    background-color: #CACFD2;
    width: 200px;
    border-radius: 5px;
    border: none;
    margin-bottom: 2px;
  }
  
  input[type="submit"] {
    background-color:#5C5CFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2E2EFF;
  }
  